%main.payment-confirmation
  %section.payment-confirmation__box
    %h2.payment-confirmation__box__content
      購入内容の確認
    %section.payment-confirmation__box__parchase-form
      .payment-confirmation__box__parchase-form--innner
        .parchase-item--image
          = image_tag "#{@item.images.first.name}"
        .parchase-item--name
          = @item.name
        .parchase-form
          .parchase-price
            .parchase-price__box--cost
              = "¥#{@item.price}"
            .parchase-price__box--fee
              送料込み
          .parchase-point
            .parchase-point__box
              ポイントはありません
          .payment-box
            .payment-box__label
              支払い金額
            .payment-box__price
              = "¥#{@item.price}"
          %button.parchase-submit{type:'submit'}
            = form_tag( action: :pay, method: :post) do
              %script.payjp-button{ type: "text/javascript", src: "https://checkout.pay.jp", "data-text" => "購入する", "data-key" => "pk_test_50682211a79cb20179a84c3c"}
    %section.payment-confirmation__box__shipping-address
      = render partial: "reciever-address"

    %section.payment-confirmation__box__payment-method
      .payment-method
        .payment-method__box
          %h3.payment-method__box--label
            支払い方法
          %address.payment-method__box--detail
            **** **** ****
            %br 
            ** / **
            %br
            = image_tag 'jcb.svg', width: '20px', height: '15px'
          .payment-method__box--change
            %span.change-button
            変更する
            %i.arrow-right
              = fa_icon 'chevron-right'

