%section.mypage-tab-container{style: 'margin-bottom: 40px;'}
  %ul.mypage-tab-container__tabs#todo-notification
    %li.mypage-tab-container__tabs--item.active
      = link_to "お知らせ", notification_mypage_path
    %li.mypage-tab-container__tabs--item
      = link_to "やることリスト", todo_mypage_path
  #todo-notification-contents
    %ul.mypage-tab-container__content.active
      - 5.times do
        = render partial: 'mypages/notification-list'
      %li.mypage-tab-container__content__go-all
        = link_to "一覧を見る", notification_mypage_path
    %ul.mypage-tab-container__content
      - if @todos.present?
        = render partial: 'mypages/todo-list', collection: @todos, as: :todo
        %li.mypage-tab-container__content__go-all
          = link_to "一覧を見る", todo_mypage_path
      - else
        = render partial: 'mypages/no-list'