%li
  = link_to "", url: item_path(todo), class: "mypage-tab-container__content__list" do
    = image_tag todo.images.first.name.url, class: "mypage-tab-container__content__list__fig"
    .mypage-tab-container__content__list__body
      %p.mypage-tab-container__content__list__body--text
        = "#{todo.name}売ってるよ"
    .mypage-tab-container__content__list__arrow
      = fa_icon "angle-right"