-breadcrumb :identification
.mypage-contents
  = render partial: 'mypages/side-bar'
  .mypage-right
    %section.mypage-identification-container
      %h3.mypage-identification-container__head
        本人情報の登録
      .mypage-identification-container__form
        = form_for @identification, url: '#' do |f|
          %p
            お客さまの本人情報をご登録ください。
            %br/
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p
            = link_to "#" do
              本人確認書類のアップロードについて
              = fa_icon "chevron-right"
          .mypage-identification-container__form__content
            %label{}
              お名前
            %p
              = "#{@identification.first_name} #{@identification.last_name}"
          .mypage-identification-container__form__content
            %label{}
              お名前カナ
            %p
              = "#{@identification.first_name_kana} #{@identification.last_name_kana}"
          .mypage-identification-container__form__content
            %label{}
              生年月日
            %p
              = @identification.birthday.strftime('%Y/%m/%d')
          .mypage-identification-container__form__content
            = f.label :zip_code, '郵便番号'
            %span.mypage-identification-container__form__content--arbitrary
              任意
            = f.text_field :zip_code, placeholder: '例）1234567'
          .mypage-identification-container__form__content
            = f.label :prefecture_id, '都道府県'
            %span.mypage-identification-container__form__content--arbitrary
              任意
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name
          .mypage-identification-container__form__content
            = f.label :city, '市区町村'
            %span.mypage-identification-container__form__content--arbitrary
              任意
            = f.text_field :city, placeholder: '例）横浜市緑区'
          .mypage-identification-container__form__content
            = f.label :street, '番地'
            %span.mypage-identification-container__form__content--arbitrary
              任意
            = f.text_field :street, placeholder: '例）青山1-1-1'
          .mypage-identification-container__form__content
            = f.label :building, '建物名'
            %span.mypage-identification-container__form__content--arbitrary
              任意
            = f.text_field :building, placeholder: '例）柳ビル103'
          .mypage-identification-container__form__content
            = f.submit "登録する"
          .mypage-identification-container__form__content
            %p
              = link_to "#" do
                本人情報の登録について
                = fa_icon "chevron-right"