.login-page
  %header.header
    %h1.header__logo
      = link_to image_tag("header.svg",width:"185",height:"49"),"https://www.google.co.jp/",class:"header__logo__top-img"
  .login-page__login-box
    .login-page__login-box__sign-up
      %p.explanation アカウントをお持ちでない方はこちら
      %input.login-page__login-box__sign-up__submit{type: 'submit', value: '新規会員登録'} 
    .login-page__login-box__login
      %input.login-page__login-box__login__Facebook{type: 'submit', value: 'Facebookでログイン'} 
      %input.login-page__login-box__login__Google{type: 'submit', value: 'Googleでログイン'} 
      .login-page__login-box__login__mail
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field-input
            = f.email_field :email, autofocus: true,placeholder:"メールアドレス"
          .field-input
            = f.password_field :password, autocomplete: "off",placeholder:"パスワード"
          .login-page__login-box__login__recaptha
          ろぼっとは未実装
          .actions
            = f.submit "ログイン", class: 'btn'

      .login-page__login-box__login__reset
      =link_to"https://www.google.com/",class:"password-reset" do
        パスワードをお忘れの方
  %footer.footer
    .footer__links
      %ul
        =link_to"https://www.google.com/",class:"privacy-policy" do
          %li プライバシーポリシー
        =link_to"https://www.google.com/",class:"Terms-of-service" do
          %li メルカリ利用規約
        =link_to"https://www.google.com/",class:"Notation" do
          %li 特定商取引に関する表記
    .footer__logo
      %h1.footer__logo__img
        =link_to image_tag("footer.svg",width:"100",height:"100"),"https://www.google.co.jp/"
    .footer__copyright
      %p © 2019 Mercari

  