-# = category.find(item.category.ancestry.split("/").first).name
-# = category.find(category.where("ancestry LIKE ?", "%/%").pluck(:id).sample).sizing_id
.item-profile
  = link_to ("/items/#{item.id}"), class: 'item-profile__link' do
    %figure.item-profile__main
      %figcaption.item-profile__title
        %span.item-profile__title--text
          = item.name
      .item-profile__image
        %span.item-profile__image--price
          ¥
          = item.price
        = image_tag 'sample_image_gandam.jpg', class: 'item-profile__image--item-image'