%section.item-box
  = link_to (), class: 'item-box__link' do
    %figure.item-box__photo
      = image_tag "#{item.images.first.name}"
    .item-box__body
      %h3.item-box__name
        = item.name
      .item-box__num
        .item-box__price
          = "¥#{item.price}"
        .item-box__like
          = fa_icon('heart')
          %span
            72