.items-container
  .items-container__inner
    %h3.items-container__inner--head
      商品の情報を入力
    = form_for @item do |f|
      .items-container__inner--content
        %h3.items-forms__content__label
          出品画像
          %span.items-forms__content__necessary
            必須
        %p.items-image-upload__notice
          最大10枚までアップロードできます
        -# = f.fields_for :images do |img|
        -#   .items-image-upload__dropbox
        -#     %ul#image-previews-container
        -#       = img.label :name, class: 'items-image-upload__label-has0' do
        -#         ドラッグアンドドロップ
        -#         %br/
        -#         またはクリックしてファイルをアップロード
        -#         = img.file_field :name, class: 'items-image-upload__hidden active-input', accept: 'image/jpg,image/jpeg,image/png'
        -# = f.fields_for :images do |img|
        .items-image-upload__dropbox
          %ul#image-previews-container
            = label_tag :images, class: 'items-image-upload__label-has0' do
              ドラッグアンドドロップ
              %br/
              またはクリックしてファイルをアップロード
              = file_field_tag :images, class: 'items-image-upload__hidden active-input', accept: 'image/jpg,image/jpeg,image/png', multiple: true
      .items-container__inner--content
        .items-forms__content
          = f.label :name, "商品名", class: "items-forms__content__label"
          %span.items-forms__content__necessary
            必須
          = f.text_field :name, class: "items-forms__content__input-text", placeholder: "商品名（必須 40文字まで)"
        .items-forms__content.items-forms__separator
          = f.label :description, "商品の説明", class: "items-forms__content__label"
          %span.items-forms__content__necessary
            必須
          = f.text_area :description, class: "items-forms__content__input-textarea", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
      .items-container__inner--content-sep
        %h3.items-container__inner--headsub
          商品の詳細
        .items-forms__content
          = f.label :category_id, "カテゴリー名", class: "items-forms__content__label"
          %span.items-forms__content__necessary
            必須
          .items-forms__content__select-wrap
            - options = options_for_select(Category.roots.map{ |ele| [ele.name, ele.id]})
            = select_tag :parent_id, options, include_blank: "---", id: "category-parent"
            = fa_icon "chevron-down"
          -# ここに子供のセレクトボックスを挿入
          .items-forms__content__select-wrap#children-select-box
          -# ここに孫のセレクトボックスを挿入
          .items-forms__content__select-wrap#grand-children-select-box
          -# ここにサイズのセレクトボックスを挿入
          #sizing-wrapper
          

          .items-forms__separator
          = f.label :condition, "商品の状態", class: "items-forms__content__label"
          %span.items-forms__content__necessary
            必須
          .items-forms__content__select-wrap
            = f.select :condition, Item.conditions.map { |k, v| [t("enums.item.condition.#{k}"), k] }, include_blank: "---"
            = fa_icon "chevron-down"

      .items-container__inner--content-sep
        = f.fields_for :transact do |i|
          %h3.items-container__inner--headsub
            配送について
            = link_to "?", "#"
          .items-forms__content
            = i.label :bearing, "配送料の負担", class: "items-forms__content__label"
            %span.items-forms__content__necessary
              必須
            .items-forms__content__select-wrap
              = i.select :bearing, Transact.bearings.map { |k, v| [t("enums.transact.bearing.#{k}"), k] }, include_blank: "---"
              = fa_icon "chevron-down"
            -# ここに配送方法のセレクトボックスを挿入
            #delivery_method-wrapper
            .items-forms__separator
            = i.label :prefecture_id, "発送元の地域", class: "items-forms__content__label"
            %span.items-forms__content__necessary
              必須
            .items-forms__content__select-wrap
              = i.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: "---"
              = fa_icon "chevron-down"
            .items-forms__separator
            = i.label :ship_days, "発送までの日数", class: "items-forms__content__label"
            %span.items-forms__content__necessary
              必須
            .items-forms__content__select-wrap
              = i.select :ship_days, Transact.ship_days.map { |k, v| [t("enums.transact.ship_days.#{k}"), k] }, include_blank: "---"
              = fa_icon "chevron-down"
      .items-container__inner--content-sep
        %h3.items-container__inner--headsub
          販売価格(300~9,999,999)
          = link_to "?", "#"
        %ul.items-forms__price
          %li
            %div
              = f.label :price, "価格", class: "items-forms__content__label"
              %span.items-forms__content__necessary
                必須
            %div
              %span &yen;
              = f.text_field :price, class: "items-forms__content__input-text-sep", placeholder: "例) 300"
          %li
            %div
              販売手数料 (10%)
            #commission-fee
              \-
          %li
            .items-forms__price--profit
              販売利益
            #your-profit.items-forms__price--profit
              \-
      .items-container__inner--content
        %p
          = link_to "禁止されている出品", "#"
          、
          = link_to "行為", "#"
          を必ずご確認ください。
        %p
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          = link_to "偽ブランドの販売"
          は犯罪であり処罰される可能性があります。
        %p
          また、出品をもちまして
          = link_to "加盟店規約", ""
          に同意したことになります。
        = f.submit "出品する", class: "items-forms__content__submit"
        %button.items-forms__content__return
          もどる