- breadcrumb :category
.category-index
  %h2.category-index__header
    カテゴリー一覧
  .category-index__box
    = link_to () do
      - @parents.each do |parent, id|
        .category-name{id: "#{parent.id}"}
          = parent.name   #親カテゴリー名
  .category-index__body
  - @parents.each do |parent, id|
    .category-list{id: "#{parent.id}"}
      .category-list-name
        = parent.name
      .category-list-inner
        = link_to (), class: "category-list-by-all" do
          すべて
        - parent.children.each do |child, id|
          .child-category-name{id: "#{child.id}"}
            = child.name
          .child-category-list-box.clearfix
            = link_to (), class: 'grandchild-category-all' do
              すべて 
            - child.children.each do |grandchild, id|
              .grandchild-name-list{id: "#{grandchild.id}"}
                = grandchild.name
                