.top-page
  .top-page__size
    .top-image
      %h2
        = image_tag 'index_keyvisual_sample.png'
    - tag = ["カテゴリー", "ブランド"]
    - tag.each do |tag_name|
      .popular-item-tag
        %h2.popular-item-tag__title
          = "人気の#{tag_name}"
        %div.popular-item-tag__list--box
          %ul.popular-item-tag__list
            - for num in 1..4 do
              %li.popular-item-tag__a-list 
                = link_to (), class: 'popular-item-tag__link' do
                  = "#{tag_name}#{num}"
      .new-items
        - for num in 1..4 do
          .new-items__box
            .new-items__title
              %h3.new-items__item-tag
                = "#{tag_name}#{num}新着アイテム"
              = link_to (), class: 'new-items__see-more' do
                もっとみる
                ＞
            .new-items__list
              .new-items__position
                = render partial: "products/item-profile", collection: (1..10).to_a
