!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample59a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %header.header
      .header__memu
        .header__memu--paragraph1
          .site-name
            = link_to (_path), class: 'site-name__logo' do
              mercari
          = form_tag( '_path', method: :get), class: 'item-search' do
            = text_field_teg :カラム名
            = submit_tag  '検索', :name => nil
        .header__memu--paragraph2
          .item-tag
            .item-tag__box
              = link_to (/category), class: 'item-tag__category--name' do
                カテゴリーから探す
              .item-tag__category--box
                //カテゴリーリスト追加予定
            .item-tag__box
              = link_to (/brand), class: 'item-tag__brand--name' do
                ブランドから探す
              .item-tag__brand--box
                //ブランドリスト追加予定
    = yield

    .go-sell
      = link_to (/) class: 'go-sell__link' do
        .go-sell__box
          .go-sell__name
            出品
          画像



