!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample59a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    :javascript
      Payjp.setPublicKey('pk_test_50682211a79cb20179a84c3c');
  %body

    .main-user
      %header.header-user
        %h1.header-user__logo
          = link_to image_tag("header.svg",width:"185",height:"49"),"/",class:"header__logo__top-img"
        =render partial: "devise/registrations/progress_bar"


      = yield

      %footer.footer-user
        .footer-user__links
          %ul
            =link_to"https://www.mercari.com/jp/privacy/",class:"privacy-policy" do
              %li プライバシーポリシー
            =link_to"https://www.mercari.com/jp/tos/",class:"Terms-of-service" do
              %li メルカリ利用規約
            =link_to"https://www.mercari.com/jp/tokutei/",class:"Notation" do
              %li 特定商取引に関する表記
        .footer-user__logo
          %h1.footer-user__logo__img
            =link_to image_tag("footer.svg",width:"80",height:"65"),"/"
        .footer-user__copyright
          %p © 2019 Mercari

  