!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: { equiv: "Content-Type" }}
    %title FreemarketSample59a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %script{type: "text/javascript"}, Payjp.setPublicKey('pk_test_50682211a79cb20179a84c3c');
  %body
    = render partial: "layouts/header"
    = yield
    = render partial: "layouts/go-sell"
    = render partial: "layouts/app-banner"
    = render partial: "layouts/footer"